[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "==2.5.0"
scikit-learn = "==1.3.0"
psycopg2-binary = "*"
hyperopt = "*"
pandas = "*"
numpy = "*"
xgboost = "==2.0.1"
seaborn = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.9"
